@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}


:root {
    --main-color: #800080;
    --second-main: #ff00ff;
    --background-one: #0e0d0d;
    --background-two: #1f1c1c;
    --extra-color: #02ced1;
    --text: #fff;
    --sub-text: #737373;
    --second-color: #e6e6e6;
}

html.light-mode {
    --background-one: #e6e6e6;
    --text: #000;
    --second-color: #504d4d;
}

body {
    background-color: var(--background-one);
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    padding: 8rem 6% 5rem;
}

header {
    width: 100%;
    background-color: var(--background-one);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 7%;
    z-index: 100;
    transition: box-shadow .3s;
}

#header.scrolled {
    box-shadow: 0 0.1rem 0.5rem var(--sub-text);
}

.mode-con {
    background-color: #a09c9c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    padding: 0.5rem;
    margin-left: 3rem;
}

.mode-con:hover {
    cursor: pointer;
}

#toggle-icon {
    font-size: 1.5rem;
    color: #0e0d0d;
}

.heading {
    font-size: 2rem;
    color: var(--text);
    text-align: center;
    margin-bottom: 3rem;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    margin-left: 2rem;
    position: relative;
}

.name h2 {
    font-weight: 500;
}

.name, .navbar a {
    text-decoration: none;
    color: var(--text);
}

.navbar a::after {
    content: '';
    height: 0.15rem;
    width: 0;
    background: var(--second-main);
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    transition: .4s ease-in-out;
}

.navbar a:hover::after {
    width: 100%;
}

#dev {
    font-size: 1.5rem;
    margin: 1rem 0;
    margin-left: 17%;
    text-align: left !important;
}

#dev span {
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0.5rem;
    color: var(--main-color);
}

#home {
    background-color: var(--background-one);
}

#home main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.home-div {
    width: 80%;
    color: var(--text);
    text-align: center;
}

.home-div h3 {
    font-size: 2rem;
    font-weight: 500;
}

.home-div h2 {
    font-size: 4rem;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 700;
    letter-spacing: 0.3rem;
}

.home-div #arrow-con {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    text-align: center;
}

.home-div a #arrow-down {
    font-size: 2.5rem;
    color: var(--text);
    animation: floatIcon 1.5s ease-in-out infinite;
}

.home-div a #arrow-down:hover {
    width: 2.5rem;
    height: 2.5rem;
    border: 0.1rem solid var(--text);
    border-radius: 50%;
    cursor: pointer;
}

@keyframes floatIcon {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1.5rem);
    }
    0% {
        transform: translateY(0);
    }
}

.tagline {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
}

.home-text {
    width: 90%;
    font-size: 1.5rem;
    color: var(--sub-text);
}

.home-buttons button#my-work {
    font-size: 1rem;
    padding: 0.5rem 0.7rem;
    color: #fff;
    background: linear-gradient(100deg, var(--second-main), var(--main-color));
    border: none;
    border-radius: 0.5rem;
    margin-top: 2rem;
    margin-right: 1.5rem;
    transition: .2s ease;
}

.home-buttons button#my-work:hover {
    cursor: pointer;
    background: linear-gradient(100deg, var(--main-color), var(--second-main));
    box-shadow: 0 0 0.5rem var(--second-main);
}

.home-buttons button#touch {
    font-size: 1rem;
    padding: 0.5rem 0.7rem;
    color: #0e0d0d;
    border: 0.1rem solid #504d4d;
    border-radius: 0.5rem;
    margin-top: 2rem;
    transition: .1s ease;
}

.home-buttons button#touch:hover {
    cursor: pointer;
    box-shadow: 0 0 0.7rem var(--second-main);
}

section#about {
    background: linear-gradient(300deg, var(--background-one), var(--background-one), var(--main-color));
}

.about-content {
    display: flex;
    align-items: center;
}

.about-content .about-text p {
    margin-right: 5rem;
}

.about-content figure img {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 0.3rem solid var(--text);
    box-shadow: 0 1rem 1.5rem var(--extra-color);
}

.about-sub button {
    font-size: 1rem;
    padding: 0.5rem 0.7rem;
    color: var(--background-one);
    background-color: var(--second-color);
    border: none;
    box-shadow: 0 0 1rem var(--extra-color);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    margin-top: 3rem;
    transition: .3s ease;
}

.about-sub button:hover {
    cursor: pointer;
    box-shadow: none;
}

.about-sub button i {
    font-size: 1.3rem;
    margin-right: 0.5rem;
}

#project .explore {
    font-size: 1.3rem;
    color: var(--second-color);
    text-align: center;
}

#project #portfolio {
    display: flex;
    justify-content: center;
}

.project-container {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
    margin-top: 4rem;
    padding-left: 13%;
}

#code-icon {
    font-size: 3rem;
    color: var(--extra-color);
    margin-right: 1rem;
}

.card {
    width: 25rem;
    color: var(--text);
    border-radius: 1rem;
    border: 0.15rem solid transparent;
    box-shadow: 0 0 0.7rem var(--second-main);
    overflow: hidden;
}

.card:hover {
    cursor: pointer;
}

.card figure img {
    width: 100%;
    transition: .3s ease-in-out;
}

.card:hover figure img {
    transform: scale(1.1);
}

.card .details {
    padding: 1rem;
}

.descrp {
    color: var(--sub-text);
    margin: 1rem 0;
}

.btn {
    background: linear-gradient(100deg, var(--second-main), var(--main-color));
    color: #fff;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0.6rem;
    border-radius: 0.4rem;
    border: none;
    transition: .2s ease;
}

.btn:hover {
    cursor: pointer;
    background: linear-gradient(100deg, var(--main-color), var(--second-main));
    box-shadow: 0 0 0.5rem var(--second-main);
}

.btn img {
    width: 1.5rem;
    margin-right: 0.5rem;
    background-color: #fff;
    border-radius: 0.5rem;
}

.tech {
    color: var(--sub-text);
}

#skill h2 {
    color: #fff;
}

.main-con {
    display: flex;
}

.frontend, .backend, .tools {
    margin-bottom: 2rem;
}

.frontend h3, .backend h3, .soft-skills h3, .tools h3 {
    color: #fff;
    margin-bottom: 1rem;
}

.frontend-tech, .backend-tech, .tools-tech {
    display: flex;
}

.backend-tech .sk img {
    border-radius: 1.5rem;
}

.skill-name {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.skill-name:hover {
    cursor: pointer;
}

.skill-name:hover .tech-name-con {
    display: block;
}

.tech-name-con {
    width: 100%;
    background-color: rgb(3, 100, 100);
    display: none;
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    z-index: 100;
}

.tech-name {
    font-size: 0.9rem;
    color: #fff;
    font-weight: 500;
    text-align: center;
}

.soft-skills {
    width: 40%;
    margin-left: 5rem;
    padding: 1rem;
    border: 0.2rem solid var(--main-color);
    border-radius: 0.5rem;
}

.soft-skills ul {
    margin-left: 2rem;
}

.soft-skills p, .soft-skills ul li {
    color: #e6e6e6;
}

.sk {
    width: 5rem;
    margin-right: 2rem;
    position: relative;
}

.sk img {
    width: 100%;
    color: var(--text);
}

.sk:hover img {
    transform: scale(1.05);
}

.skill-text {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-text p {
    width: 80%;
    font-size: 1.3rem;
    color: #e6e6e6;
    text-align: center;
}

.more-projects {
    display: flex;
    justify-content: right;
    margin-top: 3rem;
}

#view p {
    display: inline-flex;
    align-items: center;
    color: var(--text);
}

#view p:hover {
    color: var(--extra-color);
}

#view p i {
    margin-left: 0.3rem;
    font-size: 2rem;
}

#contact #get-in-touch, #project #portfolio {
    margin-bottom: 1rem;
}

#contact .together {
    font-size: 1.3rem;
    color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contact .together i {
    color: var(--extra-color);
    font-size: 2rem;
    margin: 1rem;
}

#contact .gen-con {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 3rem;
}

#contact .gen-con .form, #contact .gen-con .info {
    width: 30rem;
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--second-color);
}

#contact .gen-con .info {
    color: var(--sub-text);
}

.contact-details div {
    margin: 2rem 0;
}

.contact-details div p {
    color: var(--second-color);
}

.contact-details div p i {
    font-size: 1.3rem;
    margin-right: 0.3rem;
    color: var(--sub-text);
}

.contact-details .email .p-color,
.contact-details .phone .p-color,
.contact-details .address .p-color {
    color: var(--sub-text);
}

.p-icon {
    display: flex;
    align-items: center;
}

.info h2 {
    font-weight: 500;
    margin-bottom: 0.2rem;
    color: var(--second-color);
}

.info .reach, .form .respond {
    font-size: 0.9rem;
}

.form .respond {
    color: var(--sub-text);
}

.form h2 {
    font-weight: 500;
    color: var(--second-color);
}

.form form {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.form form input, .form form textarea {
    margin-bottom: 1rem;
    padding: 0.5rem 0.7rem;
    border-radius: 0.3rem;
    border: none;
    outline-color: var(--main-color);
}

.form form textarea {
    resize: vertical;
    max-height: 25rem;
}

#submit-btn {
    font-size: 1rem;
    background-color: var(--main-color);
    color: #fff;
    margin: 1rem 0;
    padding: 0.5rem 0;
    border-radius: 0.4rem;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease;
}

#submit-btn:hover {
    background-color: #cf00cf;
    cursor: pointer;
}

#btn-arrow {
    font-size: 1.3rem;
    margin-left: 0.4rem;
}

#back-to-top {
    background-color: var(--extra-color);
    padding: 0.3rem;
    border: none;
    border-radius: 0.5rem;
    position: fixed;
    bottom: 7%;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease;
}

#back-to-top:hover {
    cursor: pointer;
    background-color: #bbb8b8;
    box-shadow: 0 0 0.5rem var(--extra-color);
}

#back-to-top i {
    font-size: 2rem;
}

footer {
    width: 100%;
    padding: 2rem;
    border-top: 0.1rem solid var(--second-color);
    display: flex;
    justify-content: space-between;
}

footer p {
    font-size: 0.9rem;
    color: var(--second-color);
}

footer .socials {
    display: flex;
    margin-right: 4rem;
}

footer .socials a {
    margin-right: 1.5rem;
}

footer .socials .social-con {
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.linkedin {
    transition: .2s ease;
}

footer .socials .linkedin:hover {
    transform: rotate(20deg) scale(1.2);
}

.github {
    transition: .2s ease;
}

footer .socials .github:hover {
    transform: rotate(20deg) scale(1.2);
}

.instagram {
    transition: .2s ease;
}

footer .socials .instagram:hover {
    transform: rotate(20deg) scale(1.2);
}

.X {
    transition: .2s ease;
}

footer .socials .X:hover {
    transform: rotate(20deg) scale(1.2);
}

footer .social-con img {
    width: 100%;
}




/* ====== BREAKPOINTS ======= */

/* Mobile */

@media (max-width: 479px) {

}

/* Portrait Tablet */

@media (min-width: 480px) and (max-width: 767px) {

}

/* Landscape Tablet */

@media (min-width: 768px) and (max-width: 1023px) {

}

/* Laptop */

@media (min-width: 1024px) and (max-width: 1199px) {

}

/* Desktops */

@media (min-width: 1200px) {

}